@import url('https://fonts.googleapis.com/css?family=Rubik');
.navbar
{
	margin-bottom: 0px;
	border-radius: 0px;
	font-family: 'Rubik', sans-serif;
}

body
{
	background-color: #44B9EF;
}

.menubars,.navbar-brand
{
	color: #ffffff !important; 
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.menubars:hover,.navbar-brand:hover
{
	color: #9d9d9d !important;
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.navbar-brand
{
	font-size: 20px;
}
.menubars
{
	font-size: 16px;
}

form
{
	margin-top: 2%;
	min-height: 80%;
	width: 75%;
	min-width: 284.39px !important;
	background-color: #B5E3FA;
	border-radius: 10px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
}

.form-content
{
	padding-top: 20px
}
.btn
{
	background-color: #44B9EF;
	color: #ffffff;
	border-radius: 7px;
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.btn:hover
{
	color: #ffffff;
	background-color: #B5E3FA;
	border-color: #44B9EF;
	
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

label
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
	color: #63676A;
}

#red-link
{
	color: red;
}

.form-control
{
	background-color: #44B9EF;
	color: black;
	display: inline;
	width: 200px;
}

.glyphicon {
    font-size: 50px;
}